.home, .line, .role, .level, .user, .config, .list, .zone, .video, .store{
    .navbar, .bg{ 
    	display: block; 
    }
    .bg{ 
    	background: url(../images/bg/bg.png) #022b4b no-repeat 0 0;
    }
}
.navbar, .bg{ 
    position: fixed; 
    left: 0; 
    top: 0; 
    right: 0;
	display: none;
}
.bg{ 
	bottom: 0; 
	z-index: -5000;
}

.nv-title{
    height: 35px;
    line-height: 35px;
    background: #00A1D8;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    text-align: left;
    padding-left: 15px;
}


/* 过渡和动画 */
.fade-transition{
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave{ 
    opacity: 0;
}

.keyframes(@name; @arguments) {
    @-moz-keyframes @name { @arguments(); }
    @-webkit-keyframes @name { @arguments(); }
    @keyframes @name { @arguments(); }
}

.animation(@arguments) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    animation: @arguments;
}

/* .ico-right{
   .keyframes(tree-rotate; {
       0% { transform: rotate(90deg); }
       100% { transform: rotate(-90deg); }
   });

   .animation(tree-rotate 0.2s linear alternate) 
}

.ico-down {
    .keyframes(tree-rotate; {
        0% { transform: rotate(-90deg); }
        100% { transform: rotate(0deg); }
    });

    .animation(tree-rotate 0.2s linear alternate)
} */